[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/Zenburn"]
	path = bundle/Zenburn
	url = git@github.com:jnurmine/Zenburn.git
[submodule "bundle/iceberg"]
	path = bundle/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim.git
[submodule "bundle/vim-liquid"]
	path = bundle/vim-liquid
	url = git@github.com:tpope/vim-liquid.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "colors/the_silver_searcher"]
	path = colors/the_silver_searcher
	url = https://github.com/ggreer/the_silver_searcher.git
[submodule "bundle/colorswatch"]
	path = bundle/colorswatch
	url = https://github.com/cocopon/colorswatch.vim.git
